# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# dist folder removed from ignore to allow deployment via git pull when npm is missing on server
# dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary and Large Data Files
tmp*
*.jsonContent
*.txt
!README.md
!llms.txt
!robots.txt
